@font-face {
  font-family: "iconfont"; /* Project id 3597934 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1660987757609') format('woff2'),
       url('iconfont.woff?t=1660987757609') format('woff'),
       url('iconfont.ttf?t=1660987757609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-liduquxian_huaban1:before {
  content: "\e615";
}

.icon-wenzi-01:before {
  content: "\e61c";
}

.icon-weibiaoti-2-08:before {
  content: "\e617";
}

.icon-weibiaoti-2-06:before {
  content: "\e618";
}

.icon-weibiaoti-2-15:before {
  content: "\e619";
}

.icon-weibiaoti-2-13:before {
  content: "\e61a";
}

.icon-weibiaoti-2-21:before {
  content: "\e61b";
}

.icon-daVrenzheng:before {
  content: "\100d7";
}

.icon-darenrenzheng:before {
  content: "\100d8";
}

.icon-a-fanqu_huaban1:before {
  content: "\e614";
}

.icon-a-yinfen_huaban1:before {
  content: "\e616";
}

.icon-shuangjianpan-01:before {
  content: "\e61d";
}

.icon-shuangyinse-01:before {
  content: "\e61e";
}

.icon-icon-settings:before {
  content: "\e645";
}

.icon-shouqicaidan:before {
  content: "\e622";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-tanx:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-yibiaopan:before {
  content: "\eab4";
}

